.home {
    text-align: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home h2 {
    color: #4CAF50;
  }
  
  .home p {
    font-size: 1.2rem;
    max-width: 600px;
    color: chocolate;
  }
  